<div class="home-header" sc-creative>
	<div class="header-content">
		<div class="header-content-inner">
			<h1>One Stop Destination for all your assignments and academic
				queries</h1>
			<hr>
			<p>Be a part for best in class Tutors, Assignment and Homework
				Help</p>
			<a href="#about" class="btn btn-primary btn-xl page-scroll">Find
				Out More</a>
		</div>
	</div>
</div>
<section class="bg-primary">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">We understand your requirements !!</h2>
				<hr class="light">
				<p class="text-faded">We are here to help you with our best
					services on offer. We guarantee our QUALITY, ASSISTANCE, APPROACH
					and POLICIES with attractive DISCOUNT FEATURES and 24 x 7 Customer
					Support.</p>
				<a href="#" class="btn btn-default btn-xl">Get Started</a>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">What we have on Offer ?</h2>
				<hr class="primary">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-thumbs-o-up wow bounceIn text-primary"></i>
					<h3>Quality</h3>
					<p class="text-muted">We provide you the best quality which is
						based on an extensive and in-depth research of academically
						credible sources. This ensures the best quality service to you
						which enable you to get good grades.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box">
					<i class="fa-4x fa fa-calendar-check-o wow bounceIn text-primary"
						data-wow-delay=".1s"></i>
					<h3>Assistance</h3>
					<p class="text-muted">Feel free to learn at any point since we
						provide 24/7 online support. Our services can be availed any time.
						Our services are getting popularity because it gives one liberty
						to take benefit without time hurdles.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-clock-o wow bounceIn text-primary"
						data-wow-delay=".2s"></i>
					<h3>24 x 7 Support</h3>
					<p class="text-muted">We are there to assist you and answer all
						your queries any time of the day. We provide you 24 x 7 Customer
						support to you so that you never feel abandoned and can rely on
						us.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-money wow bounceIn text-primary"
						data-wow-delay=".3s"></i>
					<h3>Money Back</h3>
					<p class="text-muted">We give you money back guarantee if you
						don't find quality services. We boast of our experts who have
						acquired outstanding expertise and make sure of high success rate.
						If you find anything less than our commitment you can claim for
						refund.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">Contact Us !!</h2>
				<hr class="primary">
				<p>Ready to start a fruitful association with us ?</p>
			</div>
			<div class="col-lg-4 col-lg-offset-2 text-center">
				<i class="fa fa-phone fa-3x wow bounceIn"></i>
				<p>
					<a href="tel:18777788130">+1-877-778-8130</a>
				</p>
			</div>
			<div class="col-lg-4 text-center">
				<i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
				<p>
					<a href="mailto:cs@studycomp.com">cs@studycomp.com</a>
				</p>
			</div>
		</div>
	</div>
</section>